button {
    cursor: pointer;
    font-size: var(--fs-500);
    @media screen and (max-width: 514px) {
        font-size: var(--fs-400)
    }
}
button.admin-btn {
    font-family: inherit;
    padding-inline: 1rem;
    font-weight: var(--fw-500);
    outline: none;
    color: var(--clr-btn);
    letter-spacing: 1px;
    border: none;
    background: var(--clr-bg);
    box-shadow: 4px 4px 5px var(--bottom-shadow),
                -4px -4px 5px var(--top-shadow);
    border-radius: 50px;
    corner-shape: squircle;
    overflow: hidden;
    transition: .3s;
}
button.admin-btn:active {scale: .95}
button.admin-btn:hover,
button.mode-btn:hover {
    color: var(--clr-font);    
}
button.admin-btn:active,
button.mode-btn:active {
    box-shadow: inset 4px 4px 5px var(--bottom-shadow),
                inset -4px -4px 5px var(--top-shadow);
}
button.mode-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    padding: 1rem;
    outline: none;
    color: var(--clr-btn);
    border: none;
    background: var(--clr-bg);
    box-shadow:  4px 4px 5px var(--bottom-shadow),
                -4px -4px 5px var(--top-shadow);
    border-radius: 50%;
    overflow: hidden;
    transition: .3s;
}
button.mode-btn i{
    position: absolute;
    display: none;
}
.mode-btn i.active {display: flex}
button.mode-btn:active {
    scale: .95;
}
button.card-close {
    font-family: inherit;
    position: absolute; 
    top: 4dvh;
    right: 10dvw;
    font-size: 2rem;
    border: none;
    outline: none;
    font-weight: var(--fw-200);
    background: transparent;
    border-radius: 50vw;
    transition: .3s;
    color: #f3f1f1d3;
    z-index: 500;
    @media screen and (max-width: 745px) {
        right: 7%;
        background: #f3f1f1;
        color: #000;
        width: 30px;
        aspect-ratio: 1;
        font-size: 1rem;
        top: 6.5dvh;
    }
}
button.card-close:hover {
    color: #fff;
    @media screen and (max-width: 745px) {
        color: #000;
    }
}
button.toggle {
    border: 1px solid #ffffff9c;
    padding-inline: .6rem;
    border-radius: 50%;
    background: transparent;
    color: var(--clr-font);
    font-size: 2rem;
    font-family: var(--ff-sub);
    transition: .3s;
    color: #ffffff9c;
    position: relative;
    @media screen and (max-width: 745px) {
        position: absolute;
        backdrop-filter: blur(5px);
        z-index: 500;
        font-size: 1.5rem;
        padding-inline: .5rem;
        bottom: 10%;
        &.left {
            left: 35%;
        }
        &.right {
            right: 35%;
        }
    }
}
button.toggle:hover {
    color: #fff;
    border-color: #fff;
    background: #ffffff2f;
}