@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --ff-primary: 'Mochiy Pop One';
    --ff-secondary: 'Raleway';
    --clr-font: #292929;
    --clr-bg: #f3f1f1;
    --clr-btn: #00000077;
    --top-shadow: #fff;
    --bottom-shadow: #cacaca;
    --card-bg: #292929;

    --fs-300: 10px;
    --fs-400: 12px;
    --fs-500: 14px;
    --fs-600: 18px;
    --fs-700: 2.5rem;

    --fw-200: 200;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 900;
}
@media (prefers-color-scheme: dark) {
   :root {
        --clr-font: #f3f1f1e0;
        --clr-bg: #292929;
        --clr-btn: #f3f1f188;
        --top-shadow: #383737;
        --bottom-shadow: #1a1919;
        --clr-p: #f3f1f1ad;
        --card-bg: #1b1111;
    }  
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--ff-secondary);
    font-size: var(--fs-500);
    min-height: 100dvh;
    background: var(--clr-bg);
    @media screen and (max-width: 514px ) {
        font-size: var(--fs-400)
    }
}